<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/libw-c/test/ImoocTest/Chapter"><classes><class name="com.mushishi.imooc.runcase.Login"><methods><include name="checkBox"/><include name="TestAddCart"/><include name="TestSureOrder"/></methods></class><class name="com.mushishi.imooc.runcase.LoginCase"><methods><include name="TestLoginSuccess"/><include name="TestLoginError"/></methods></class><class name="com.test.Imooc"><methods><include name="UserLogin"/></methods></class><class name="com.test.file.TestCase"><methods><include name="test"/></methods></class><class name="com.xxgc.runcase.LoginCase"><methods><include name="TestLoginSuccess"/><include name="TestLoginError"/></methods></class></classes></test></suite>